  .topnav {
  overflow: hidden;
  background-color: black;
}

/* Navbar links */
.topnav a {
  float: right;
  display: block;
  background:black;
  color: #ffcc00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: black;
  color: #fff0b3;
}